.agent-row {
  flex-wrap: wrap;
}

.agent {
  max-width: 3in;
  min-width: 3in;
}

.agent img {
  max-width: 2.9in;
}

ion-card ion-card-header.agent-header {
  padding: 2px;
}

.cancel-workitem-button .button-inner {
  padding-left: 2px;
  padding-right: 2px;
}

.plain-link {
  text-decoration: None;
}

.workflow-dialog > scroll-content {
  overflow-y: hidden;
}
