<ion-navbar *navbar>
  <ion-title>
    <span class="key-status-idle">Idle: {{statusTotals.idle}}</span> |
    <span class="key-status-active">Active: {{statusTotals.active}}</span> |
    <span class="key-status-maintenance">Maintenance: {{statusTotals.maintenance}}</span> |
    <span class="key-status-dead">Dead: {{statusTotals.dead}}</span> |
    <span class="key-status-paused">Paused: {{statusTotals.paused}}</span>
  </ion-title>
  <ion-buttons end>
    <button large outline (click)="openWorkQueue()"><span *ngIf="workqueueState.stopped">Stopped </span>Work Queue: {{workqueue.length}}</button>
    <button class="button-primary" large [outline]="live ? null : true">{{ live ? "Live" : "Disconnected"}}</button>
  </ion-buttons>
</ion-navbar>
<ion-content>
  <ion-row class="agent-row" responsive-sm>
    <ion-card class="agent" *ngFor="let agentName of agentNames;">
      <ion-card-header class="agent-header status-{{agents[agentName].status}}">
        <ion-toolbar primary>
          <ion-title>{{agentName}} <span *ngIf="agents[agentName].requestedWork">(Asking)</span> <span *ngIf="agents[agentName].agentUndeployRequested">(Stopping)</span> </ion-title>
          <ion-buttons end><button round (click)="togglePaused(agentName)"><ion-icon *ngIf="agents[agentName].paused" name="play"></ion-icon><ion-icon *ngIf="!agents[agentName].paused" name="pause"></ion-icon></button></ion-buttons>
        </ion-toolbar>
      </ion-card-header>
      <ion-card-content>
        <div><img [src]="agentImages[agentName]" /></div>
        <div *ngIf="isNotEmpty(agents[agentName].information)">
          <strong>Information:</strong>
          <ul>
            <li *ngFor="let key of keys(agents[agentName].information)"><strong>{{key}}:</strong> {{agents[agentName].information[key]}}</li>
          </ul>
        </div>
        <div>
          <strong>Provides: </strong>
          <ul>
            <li *ngFor="let provide of agents[agentName].provides; let l=last">{{provide}}</li>
          </ul>
        </div>
        <p *ngIf="agents[agentName] && agents[agentName].assignment && agents[agentName].assignment.name">
          <a class="plain-link" *ngIf="agents[agentName].assignment.url" href="{{agents[agentName].assignment.url}}" target="_blank">{{agents[agentName].assignment.name}}</a>
          <span *ngIf="!agents[agentName].assignment.url">{{agents[agentName].assignment.name}}</span>
        </p>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>
