<ion-navbar *navbar>
  <ion-title>Executioner Status (Queue Size: {{workqueue.length}})</ion-title>
</ion-navbar>
<ion-content>
  <ion-row class="agent-row" responsive-sm>
    <ion-card class="agent" *ngFor="let agentName of agentNames;">
      <ion-card-header class="agent-header">
        <ion-toolbar primary>
          <ion-title>{{agentName}}</ion-title>
          <ion-buttons end><button round (click)="togglePaused(agentName)"><ion-icon *ngIf="agents[agentName].paused" name="play"></ion-icon><ion-icon *ngIf="!agents[agentName].paused" name="pause"></ion-icon></button></ion-buttons>
        </ion-toolbar>
      </ion-card-header>
      <ion-card-content>
        <p><img [src]="agentImages[agentName]" /></p>
        <p>
          <strong>Provides: </strong>
          <ul>
            <li *ngFor="let provide of agents[agentName].provides; let l=last">{{provide}}</li>
          </ul>
        <p *ngIf="agents[agentName].assignment && agents[agentName].assignment.name">{{agents[agentName].assignment.name}}</p>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>
