<ion-content>
  <ion-toolbar primary>
    <ion-title>Work Queue ({{workQueueItems.length}})</ion-title>
    <ion-buttons end>
      <button (click)="close()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let workItem of workQueueItems;">
        <h2 *ngIf="!workItem.url">{{workItem.name}}</h2>
        <h2 *ngIf="workItem.url"><a class="plain-link" href="{{workItem.url}}" target="_blank">{{workItem.name}}</a></h2>
        <h3 *ngIf="workItem.groupName && workItem.groupUrl"><a class="plain-link" href="{{workItem.groupUrl}}" target="_blank">{{workItem.groupName}}</a></h3>
        <h3 *ngIf="workItem.groupName && !workItem.groupUrl">{{workItem.groupName}}</h3>
        <h3><span *ngFor="let requirement of workItem.requirements; let last = last;">{{requirement}}<span *ngIf="!last">, </span></span></h3>
        <button class="cancel-workitem-button" item-right outline round (click)="cancelItem(workItem)"><ion-icon name="close"></ion-icon></button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
